<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ThroughCode" value="true"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Service1Binding">
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Service1Behavior">
          <debugInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="ServiceReference1.IService1"
                address="http://localhost:60428/Service1.svc"
                binding="customBinding"
                bindingConfiguration="Service1Binding"
                behaviorConfiguration="Service1Behavior"
                contract="ServiceReference1.IService1" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="debugInspector" type="Common.DebugMessageBehaviorElement, Common"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>