<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceEndpointBehavior">
          <debugDispatcher />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="Service1Binding">
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="WcfMessageDebugging.Service1" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="Service1Binding"
                  behaviorConfiguration="ServiceEndpointBehavior"
                  contract="WcfMessageDebugging.IService1" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="debugDispatcher" type="Common.DebugMessageBehaviorElement, Common"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>